<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Pokedex Souvenirs</title>
        <link
            href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="/Template/css/style.css">
    </head>
    <body>
        <div class="search222">
            <input type="text" id="searchInput" placeholder="Введите имя покемона" />
        <button id="searchButton">Поиск</button> </div>
        <div class="container">
           
            <div class="register" >
            <a href="/Template/html/register.html"> <img id="poceboll"  src="/Template/images/photo_2024-04-14_18-41-55.jpg" ></a>
            Войти в аккаунт
        </div>
        <div id="cart">
            <a href="/Template/html/" id="cartLink">
                <img id="poce_open" src="/Template/images/188917.png" alt="Cart">
            </a>
            <span>Корзина</span>
        </div>
        
            <h1>Наши покемоны</h1>
            <p id="Shrift">У нас можно найти покемона на любой вкус. Большой ассортимент и приятные цены.</p>
            <ul id="pokedex"></ul>
        

            <button id="addtoCartButton">Добавить в корзину</button>
        
          
           
            <script src="/Template/js/app.js"></script>
        </div>
        
    </body>
</html>

